{% extends "base.html" %} {% block content %}
{{title}}
NAME
{{agent['NAME'] if agent else ''}}
TENCENT ID
{{agent['TENCENT ID'] if agent else ''}}
DATE HIRED
 
PHONE NAME
{{agent['PHONE NAME'] if agent else ''}}
NBS ID
{{agent['NBS ID'] if agent else ''}}
HEADSET SN
{{agent['HEADSET SN'] if agent else ''}}
IBAS
{{agent['IBAS'] if agent else ''}}
DJANGO
{{agent['DJANGO'] if agent else ''}}
NT LOG IN
{{agent['NT LOG IN'] if agent else ''}}
Sales Force
{{agent['Sales Force'] if agent else ''}}
ZOHO
{{agent['ZOHO'] if agent else ''}}
BSS WEB
{{agent['BSS WEB'] if agent else ''}}
EMAIL
{{agent['EMAIL'] if agent else ''}}
BIRTHDAY
 
CONTACT NO.
{{agent['CONTACT NO.'] if agent else ''}}
ADDRESS
{{agent['ADDRESS'] if agent else ''}}
Save Cancel
{% endblock %}
